#top-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100vw;
    left: 50%;
    transform: translate(-50%, 0);
    /* opacity: 0.75; */
    z-index: 9999;
    transition: 0.2s;
    height: 4rem;
    box-shadow: 0px 1px 4px;

}

#top-elements:hover {
    opacity: 1;
    box-shadow: 0px 0px 0px;
    border-color: blueviolet;


}


#top-elements #creator {
    width: 35rem;
    height: 5rem;
}



#header {
    top: 0px;
    margin: 0 auto;
    width: 98%;
    height: inherit;
    align-items: center;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    position:relative ;

    background-color: var(--color60);
    border: solid 1px black;
    /* box-shadow: 0px 1px 4px; */
    /* font-family: 'Roboto Mono', monospace; */
    z-index: 3;
    border: 8px;
}

#logo {
    z-index: 0;
    width: 80%;
    height: inherit;
    margin: 0 auto;
}

#logo img {
    width: 100%;
    height: 100%;
}

#search-bar {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 7fr;
    height: 100%;
    width: 100%;
    margin: 0 auto;

}

#search-bar #search-options {
    display: flex;
    height: inherit;
    justify-content: center;
    align-items: center;
    background-color: var(--color30);
}

#search-bar #search-options ul {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: inherit;
    top: 3rem;
    height: 3.5rem;


}

#search-bar #search-options ul {
    display: none;
}



#search-bar #search-options:hover ul, #search-bar #search-options .over ul {
    display: grid;
}


#search-bar #search-options ul li {
    padding: 0;
    margin: 1px;
    width: 5rem;


}

#search-bar #search-options ul li button {
    background-color: var(--color30);
    border: 1px solid var(--color10);
    color: var(--color-secundary-button);
    width: 100%;

}

#search-bar input {
    height: auto;
    margin: 0;
    color: black;
    font-size: 1rem;
    border: none;

}

#search-bar button {
    height: 100%;
    border: 1px solid var(--color30);
    background-color: white;

}


#form-search form {
    display: grid;
    grid-template-columns: 9fr 1fr;

    height: 100%;

}

#tools-bar {
    height: 100%;
    margin: 0 auto;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    display: block;
}

nav {
    width: 100%;
    height: 95%;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.menu {
    position: relative;
    list-style: none;
    /* border: 1px solid var(--color10); */
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
}



.menu li {
    margin: 2px;
    position: relative;
    height: 80%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu li ul {
    position: absolute;
    display: none;
    top: 33px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.menu li ul li {
    width: 100%;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}



.menu button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1rem;
    background-color: var(--color30);
    border: 1px solid var(--color10);
    color: var(--color10);
    border-radius: 4px;
    width: 100%;
    height: 100%;
    transition: 0.3s;
}

.menu a{
    height : 100%;
    width : 90%
}
.menu button:hover {
    background-color: var(--color30);
    color: var(--color60);
    border: 2px solid var(--color10);
    opacity: 1;
}