#register {
    width: 60%;
    height: 500px;
    margin: 0 auto;
}

#register .content{
    margin: 0 auto;
    height: 80%;
    width: 70%;
    max-height: 400px;
    max-width: 600px;
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    perspective: 1000px; 

}


#register .content .form-user-area{

    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    width: 85%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 0.5s linear 0.1s;

}

/* #register .content :hover.form-user-area{

    transform: rotateY(-180deg) ;
} */


#in-first-step , #in-second-step{

    position: absolute;
    display: flex;
    flex-direction: column;
    column-gap: 5px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}

#in-second-step {
    transform: rotateY(180deg);
}