#post-complete{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    
}

#post-user-nickname{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    background-color: var(--color60);
    border-radius: 4px;
    color: var(--color10);
    font-family: var(--font-subtitles);
    font-size: var(--font-size-subtitles);
}

#post-user-image{
    display: flex;
    justify-content: center;
    min-height: 5em;
    background-color: rgb(202, 222, 223);
    
}

#post-user-likes{
    display : flex;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    align-items: center;
}

#container-likes {
    background-color: var(--color30);
    padding: 0.5rem;
    /* border: solid 1px var(--color10); */
    border-radius: 5px;

}

#post-user-tags{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#post-like-btn{
    /* border: black 1px solid; */
    border-radius: 3px;
}

#post-like-btn button{
    background-color: transparent;
    border: none;
}


