:root{
    --color-primary-button: #1a1d1a;
    --color-secundary-button : #f0efef;
    --color-primary-panel : #d6caca;
    --color-secundary-panel: #a4aaa5;
    --color-midle-green :  #8BB485;
    --color-darker-green : #3E4A3C;
    --color-background-white: #ffffff;
    --color-background-lighter-grey: #e2e0e0;
    --color-background-midle-grey :#A2AF9F;
    --color-lighter-blue : #57B5D2;
    --color-darker-blue: #00809B ;

}


body , #root{ 
    margin :0;
    padding: 0 ;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-lighter-grey);
}

p{
    font: 32px sans-serif 300 ;
}


