:root {
    /* --color-primary-button: #1a1d1a;
    --color-secundary-button : #f0efef;
    --color-primary-panel : #d6caca;
    --color-secundary-panel: #a4aaa5;
    --color-midle-green :  #8BB485;
    --color-darker-green : #3E4A3C;
    --color-background-white: #ffffff;
    --color-background-lighter-grey: #e2e0e0;
    --color-background-midle-grey :#A2AF9F;
    --color-background-darker-gray : #444444;
    --color-lighter-blue : #57B5D2;
    --color-darker-blue: #00809B ;
    --color-midle-gray : #00809B; */
    --color30: #d25516;
    --color30-low-opacity: #d255168c;
    --color-midle-dark: #12405a;
    --color: #157293;
    --color60: #b5175c;
    --color10-low-opacity: #efefef7a;
    --color-ligther: #20dad8;
    --color10: #efefef;
    --color-background-app: #12405a;
    --color-gallery-background: #00074a;
    --font-menu-button : Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* --font-title :  */
    --font-subtitle : 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    --font-size-subtitles : 1.2rem;

}

/* body {
    background-color: var(--color-midle-dark);
} */

body, #root {
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

html, body, div, img {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

p {
    font: 32px sans-serif 300;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}