
/* #name{
    margin-top: 5%;
    margin-left: 3%;
    width: 100%;    
    text-align: center;
    height: 100%;
    position: relative;
} */

#homepage{
    width: 100%;
    height: auto;
}




.profile-content {
    display : grid;
    grid-template-columns: 2fr 8fr;
    column-gap: 2rem;
}

.profile-content #lateral-bar{
    top : 4rem;
    background-color: aqua;
    height: 20rem;
    display: grid;
    grid-template-rows: 4fr 1fr 1fr;
    align-items: flex-start;
}

.profile-content #lateral-bar #user-perfil-photo{

    height: 10rem;
}

.profile-content #lateral-bar #user-perfil-options{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;    
    row-gap: 1rem;
    border: solid 1px black;
}

.profile-content #lateral-bar #user-perfil-options div{
    border: 1px solid rgb(112, 111, 111);
    width: 100%;
    text-align: center;
}
/* .content-section {
    background-color: var(--color60);
} */

.content-section h3{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border-bottom: 1px black solid;
    font-size: larger;
}

#user-posts-gallery{
    }
/* .content h3{
    font : 4.5rem/6.3rem bold serif;
} */
    /* 
    .panel {
        height: auto;
        display: flex;
        overflow-y: hidden;
        overflow-x: scroll;
        padding: 2.5%;
        margin: 2.3rem;
        background-color: var(--color-secundary-panel);
        position: relative;
        opacity: 0.9;

    }

    .panel img {
        max-height: 400px;
        max-width: 600px;
        margin: 1%;
    }

    .panel:hover {
        opacity: 1;
    }
    */
