#header {
    position: relative;
    top: 0px;
    margin : 0 ;
    width: 80%;
    height: 4.5rem;
    align-items: flex-start;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr;
    position: fixed;
    background-color: var(--color-midle-green);
    border-radius: 8px;
    border: solid 1px black;
    /* font-family: 'Roboto Mono', monospace; */
}


#logo {
    z-index: 0;
    width: 80%;
    height: 4.5rem;
    margin: 0 auto;
}

#logo img {
    width: 100%;
    height: 100%;
    
}

#tools-bar {
    height: 100%;
    margin: 0 auto;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 50%;
    display: block;

}

nav{
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.menu {
    
    position: relative;
    list-style: none;
    border: 1px solid var(--color-primary-button);
    height: auto;
    width: 100%;
    margin: 0px; padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}

.menu li {
    margin : 2px;
    position: relative;

}

.menu li ul {
    position: absolute;
    display: none;
    top: 33px;
    width: 100%;
    margin: 0px; padding: 0px;
}

.menu li ul li{
    width: 100%;

}
.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}

.menu button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color: var(--color-primary-button );
    border: 1px solid var(--color-secundary-button);
    color: var(--color-secundary-button);
    border-radius: 4px;
    width: 100%;
    transition: 0.3s;
}
.menu button:hover{
    background-color: var(--color-secundary-button);
    color:var(--color-primary-button);
    border: 2px solid var(--color-primary-button);
    opacity: 1;
}

.views{
    height: auto;
    width: 85%;
    margin: 0 auto;
    margin-top: 8.5rem;

}