#header {
    position: relative;
    top: 0px;
    width: 100%;
    height: 250px;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    display: block;
    /* font-family: 'Roboto Mono', monospace; */
}


#logo {
    position: relative;
    z-index: 0;
    width: 425px;
    height: 100%;
    margin: 0px auto;
}

#logo img {
    width: 100%;
    height: 100%;
    position: relative;
    ;
}

#tools-bar {
    height: 60px;
    margin: 20px 25%;
    position: relative;
    width: 50%;
    display: block;

}

nav{
    width: 100%;
    height: auto;
    margin: 0px;padding: 0px;
    position: relative;
}

.menu {
    
    position: relative;
    list-style: none;
    border: 1px solid var(--color-primary-button);
    height: auto;
    width: 100%;
    margin: 0px; padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;

}

.menu li {
    margin : 2px;
    position: relative;

}

.menu li ul {
    position: absolute;
    display: none;
    top: 33px;
    width: 100%;
    margin: 0px; padding: 0px;
}

.menu li ul li{
    width: 100%;

}
.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 150px;
}

.menu button{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color: var(--color-primary-button );
    border: 1px solid var(--color-secundary-button);
    color: var(--color-secundary-button);
    border-radius: 4px;
    width: 100%;
    transition: 0.3s;
}
.menu button:hover{
    background-color: var(--color-secundary-button);
    color:var(--color-primary-button);
    border: 2px solid var(--color-primary-button);
    opacity: 1;
}

.views{
    height: auto;
    width: 85%;
    margin: 0 auto;
    margin-top: 8.5rem;

}