#post-creator .content{
    width: 70%;
    height: 15rem;

}

#post-creator .content form{
    width: 100%;
    height: 100%;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: ce nter;
}

#tags-creator{
    max-width: 300px;
    max-height: 250px;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
    overflow-y: scroll;

}